.photo-row {
  display: flex;
}

.photo-container {
  flex-grow: 1;
  border: 3px solid black;
  margin: 1em;
  padding: 2em;
  text-align: center;
  font-style: italic;
}

.photo-container img {
  border: 3px solid black;
  }

.photo-container img {
  max-height: 300px;
}
