body {
  background-color: #525B5A;
  color: black;
  text-align: left;
  font-family: 'arsenal sc';
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
}

.heading {
  font-family: 'anton sc', cursive;
  text-align: center;
  font-size: 300%;
  text-shadow: #117AF2 2px 2px;
  letter-spacing: 3px;
}

h2.heading {
  font-size: 200%;
}


.bordered {
  border-style: solid;
  border-color: #117AF2;
  border-width: 3px;
  padding: 10px;
  border-radius: 10px;
  margin: 7.5px;
  background-color: #846557;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #8a8d8d;
}

a:hover {
  color: #32BF82;
}

hr {
  height: 2px;
  width: 745px;
  border: 0px;
  background-color: #32BF82;
}

#footer {
  font-size: 200%;
  text-align: center;
}

p a {
  text-shadow: #846557 2px 2px;
}
