body, html {
  margin: 0;
  padding: 0;
}

#container {
  text-align: center;
  margin: auto;
  margin-top: 24px;
  padding: 24px;
  list-style-type: none;
  border: solid 2px black;
  width: 50%;
  background-color: lightblue;
}

#list-grp {
  margin-left: 15%;
  margin-right: 15%;
  border: solid 3px black;
  list-style-type: none;
  padding: 10px;
  background-color: rgba(173, 216, 230, 0.5)
}

#list-grp svg {
  position: relative;
  top: 0.5em;
  margin-right: 10px;
  width: 4%;
}

#bg {
   width: 100vw;
   height: 100vh;
   z-index: -10;
   position: fixed;
   top: 0px;
   left: 0px;
}
