body, html {
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100vw;
  height: 100vh;
}
.input {
  width: 15%;
  text-align: center;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 20px;
}
#compute-button, #clear-button {
  border: 2px solid black;
  border-radius: 20px;
}
