body {
  text-align: center;
  color: green;
  background-image: url("https://th.bing.com/th/id/OIP.GeZUq23LYxOKC2H_CYFOpQHaEK?w=282&h=180&c=7&r=0&o=5&pid=1.7");
  font-family: Courier New, sans-serif;
  font-weight: bolder;
}
title {
  margin-top: 100px;
}
ol {
  text-align: center;
  color: aqua;
}
