body {
  text-align: center;
  color: green;
  background-color: black;
  font-family: Courier New, sans-serif;
  font-weight: bolder;
}
title {
  margin-top: 100px;
}
ol {
  text-align: center;
  color: aqua;
}
